alembic
asttokens
blinker
cachetools
certifi
charset-normalizer
click
contourpy
cycler
decorator
executing
filelock
Flask
flask-cors
Flask-Migrate
Flask-SQLAlchemy
fonttools
fsspec
future
greenlet
idna
ipython
ipython_pygments_lexers
itsdangerous
jedi
Jinja2
joblib
kiwisolver
llvmlite
lucid
Mako
MarkupSafe
matplotlib
matplotlib-inline
more-itertools
mpmath
networkx
numba
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-cufile-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-cusparselt-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
opencv-python
opencv-python-headless
packaging
pandas
parso
pexpect
pillow
prompt_toolkit
psutil
psycopg2-binary
ptyprocess
pure_eval
py-cpuinfo
Pygments
pynndescent
PyOpenGL
pyparsing
python-dateutil
python-dotenv
pytz
PyYAML
requests
scikit-learn
scipy
setuptools
six
SQLAlchemy
stack-data
sympy
threadpoolctl
torch
torchvision
tqdm
traitlets
triton
typing_extensions
tzdata
ultralytics
ultralytics-thop
umap-learn
urllib3
wcwidth
Werkzeug
